<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置环境-->
    <environments default="mysql">
        <!--配置默认的环境-->
        <environment id="mysql">
            <!--配置事务类型-->
            <transactionManager type="jdbc"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3306/db_spring"></property>
                <property name="username" value="root"></property>
                <property name="password" value="admin"></property>
            </dataSource>
        </environment>
    </environments>
    <!--指定映射配置文件的位置，映射配置文件指的是每个dao独立的配置文件-->
    <!--配置文件映射方法-->
    <mappers>
        <mapper resource="Mappers/UserMapper.xml"></mapper>
    </mappers>
    <!--如果是注解来配置的话，resource应该使用映射的类型-->
    <!--注解配置映射方法-->
<!--    <mappers>-->
<!--        <mapper class="com.ssm.dao.IUserDao"></mapper>-->
<!--    </mappers>-->
</configuration>